<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body data-barba = "wrapper"  class = "green-background" style="font-family:'FoundersGrotesk-Medium';">
<div class="header " style="background-color: #e27429;height:760px;">
    <div class= 'row'>
        <img src="/images/gheebkg.PNG" class="w3-col l9" style ="height:660px;position:relative;margin-top:0px; margin-left:0px;">
        <div class="top-left">
            <a class="logo" href="/"><img src="/images/modiLogo3.png" style="max-height:80px; max-width:90px;margin-top:0px; position:absolute;"></a>
        </div>
        <div class="w3-col l3">
            <div class = 'top-right'>    
                <ul class="horizontal-list hidden-xs">
                    <li>
                        <a  href="#" type="button">SIGNIN</a>
                    </li>
                    <li>
                        <a  href="#" type="button">SIGNUP</a>
                    </li>
                    <li>
                        <button class="js-modal-button " data-modal="cart" type="button">Cart (0)</button>
                    </li>
                    </ul>
                <button class="menu-toggle" type="button">
                    <span class="bar top"></span>
                    <span class="bar bottom"></span>
                </button>
            </div>
            <div style="text-align:center;padding: 200px 30px 200px 20px; " class="from-bottom">
                <h3>Here at Modi's dairy, enjoy the luxurious richness of pure A2 milk, and A2 milk products.</h3><br>
                <a href="#">SHOP NOW</a>
            </div>
        </div>   
    </div>
</div>   
<div class="product grey-background">
    <div style ="padding:15px 15px;"> <h3>Modi Ghee</h3></div>
    
    <div style ="padding:15px 15px;"><h3>Shop now</h3></div>
    <div style="align-content: stretch; float:right;padding: 0px 0px 0px 40%"><img src = "/images/modiGhee.png"style="height:600px;width:100%;"></div>
    <div style ="padding:15px 15px 15px 85%; "><h3>Add to cart</h3></div>
</div>

 <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>  
<script>
    const sliders = document.querySelectorAll('.from-bottom');

    observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) =>{
            if(entry.intersectionRatio >0){
                entry.target.style.animation = 'from-bottom1 2s forwards ease-out';
            }
            else{
                entry.target.style.animation = 'none';
            }
        });

    });

    sliders.forEach(slider => {
        observer.observe(slider);
    });
</script>
